<!DOCTYPE html>
<html>

<head>
    <title>Search UI</title>
    <meta charset="UTF-8">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>
    <div id="App">
        <!-- header -->
        <header>
            <div class="container">
                <div class="left headerItem">
                    <p>hello <a href="">USERNAME</a> | <a href="#">logout</a></p>
                </div>
                <div class="right headerItem">
                    <p><a href="#">info</a></p>
                </div>
            </div>
        </header>
        <!-- main -->
        <main>
            <div class="container">
            			<div id="searchBox"><h2>SEARCH...</h2></div>
            			<hr>
                <!-- insert resources here -->
            </div>
        </main>
        <!-- footer -->
        <footer>
            <div class="container">
                <div class="footerContent"><a href="#">&rarr; view my submissions</a></div>
            </div>
        </footer>
    </div>

    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="main.js"></script>
</body>

</html>